* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: DIGI;
    src: url(/FONTS/Digikala.otf);
}

@media screen and (min-width: 1200px)
    
{


    *{
        margin: 0;
        padding: 0;
    }

    .footer{
        margin-top: 50px;
        width: 100%;
        margin-bottom: 0px;
        text-align: right;
        background-color: #dc3c3c;
        height: 240px;
        position: relative;
    }

    .mobilef{
        display: none;
    }

   .icons{
    display: inline-block;
    margin-top: 0px ;
   }

    .map{
        width: 300px;
        height: 100px;
        position: absolute;
        left: 10px;
        bottom: 120px;
    }

    .foot{
        color: white;
        font-family: digi;
        margin-top: 60px;
        margin-right: 30px;
        height: 10px;
        text-align: center;
    }

    .foot1{
        display: inline-block;
        margin: 10px;
        margin-top: 70px;
        margin-right: 10px;
        padding-left: 14px;
        font-family: digi;
        font-size: 23px;
        border-left: 2px solid black;
    }

    .foot7{

        display: inline-block;
        margin: 10px;
        margin-top: 70px;
        margin-right: 40px;
        padding-left: 12px;
        font-family: digi;
        font-size: 23px;
        border-left: 2px solid black;

    }

    .foot2{
        font-family: digi;
        display: inline-block;
        background-color: whitesmoke;
        border-radius: 20px;
        padding: 4px;
        padding-right: 10px;
        width: 100px;
    }

    .foot4{
        display: inline-block;
        font-family: digi;
        font-size: 23px;
    }

    body {
        overflow-x: hidden;
    }

.container1 {
    position: relative;
    margin: 0;
    padding: 0;
}

.digilogo {
    width: 200px;
    position: absolute;
    right: 10px;
    margin: 0px 10px 10px 10px;
}

.prof1 {
    width: 73px;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all ease 0.5s;
    margin: 0px 10px 10px 10px;


}

.prof1:hover {
    transform: scale(1.4);
}

.prof2 {
    width: 40px;
    position: absolute;
    left: 90px;
    padding-left: 50px;
    padding-right: 50px;
    top: 31px;
    transition: all ease 1.5s;
    box-sizing: content-box;
}

.prof3 {
    box-sizing: border-box;
    width: 200px;
}

.prof3:hover .prof2 {
    transform: translateX(50px);
    z-index: 2;
}

.prof3:hover .prof5 {
    opacity: 1;
    
}

.prof5 {
    opacity: 0;
    color: rgb(213, 24, 78);
    box-sizing: content-box;
    position: absolute;
    top: 38px;
    left: 70px;
    transition: all ease-in 0.5s;
    padding-left: 50px;
    padding-right: 50px;
}

.search {
    position: absolute;
    background-color: whitesmoke;
    right: 250px;
    top: 45px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    direction: rtl;
    margin: 0px 10px 10px 10px;
}

.text1 {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 130px;
    right: 50px;
    margin: 10px 10px 10px 10px;
}

.text22 {

    width: 150px;
    padding: 10px 0px 10px 0px;
    color: #7e7979;
    padding-left: 10px;
    font-family: digi;

}

.text2 {
    width: 150px;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    color: #7e7979;
    padding-left: 10px;
    font-family: digi;
    transition: all ease 0.5s;
}

.text2:hover {
    transform: translateY(-6px);
    color: rgb(213, 24, 78);
}

.text3 {
    border-left: 1px solid gray;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

.text4 {
    position: absolute;
    right: 680px;
}

.text5{
    position: absolute;
    text-decoration: none;
    color: #7e7979;
    top: 152px;
    left: 30px;
}


.banner1 {
    position: absolute;
    top: 195px;
    width: 100%;
    height: 350px;
    margin: 0px;
}

.banner {
    position: absolute;
    width: 100%;
    height: 350px;

}


.container2 {
    display: flex;
    flex-direction: row;
    padding: 580px 10px 10px 10px;
    justify-content: center;
}

.pics {
    width: 50px;
    display: inline-block;
    height: 50px;
    margin: 20px 30px 10px 30px;
    transition: all ease 0.3s;
}

.pics:hover {
    transform: scale(1.3);
}


.texts {

    margin-top: 0px;
    padding-left: 22px;
    font-size: 15px;
    color: hsl(0, 0%, 23%);
    font-family: digi;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}


.banners {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}


.box1 {
    position: absolute;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 225px;
    transition: all ease 1s;
}

.box2 {
    border: 1px solid whitesmoke;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 160px;
    left: 80px;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 5px;
}

.box1:hover {
    opacity: 1;
}

.container3{
    margin: 0 auto;
    border-radius: 15px;
    width: 1000px;
    height: 220px;
    z-index: 2;
}

.vitrin{
    width: 150px;
    display: inline-block;
    margin: 10px 0px 10px 0px;
    height: 200px;
    background-color: white;
    z-index: 1;
}

.vitrin1{
    margin-left: 40px;
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.vitrin2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
}

.c3{
    width: 150px;
    position: relative;
}

.c4{
    width: 140px;
    margin-left: 5px;
    margin-top: 5px;
    
}

.txt1{
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
}


.percent1{
    width: 45px;
    height: 23px;
    border-radius: 13px;
    position: absolute;
    top:155px;
    left: 90px;
    background-color: #dc3c3c;
}

.percent2{
    color: white;
    padding-top: 3px;
    padding-left: 9px;
    font-size: small;
}

.percent3{
    position: absolute;
    font-size: xx-small;
    top: 180px;
    left: 25px;
    color: gray;
    text-decoration: line-through;
}

.a1{
    color: black;
}

.bgg{
    display: none;
}

.digi{
    display: none;
}

.search1{
    display: none;
}

.cart{
    display: none;
}

.navig{
    display: none;
}

.categories{
    margin-top: 30px;
    text-align: center;
    
}

.cattext{

   font: 10px;
   font-family: digi;

}

.catpic{
    width: 200px;
    margin: 15px;
    transition: all ease 1s;
}

.catpic:hover{
    transform: scale(1.2);
}

.cat1{
    width: 260px;
    display: inline-block;
}

.mob{
    font-family: digi;
}

.bigban{
    width: 600px;
    border-radius: 10px;
    text-align: center;
    
}

.bigbanns{
    display: inline-block;
    margin: 10px;

}

.bigbannskol{
    text-align: center;
}



}



@media screen and (max-width:1200px) {



    *{
        margin: 0;
        padding: 0;
    }




    .footer{
        width: 100%;
        height: 240px;
        background-color: #FF3366;
        text-align: center;
    }

    .icons{
        text-align: center;
        padding-top: 15px;
    }

    .map{
        display: none;
    }

    .foot1{
       
        font-family: digi;
        margin-bottom: 0px;
        margin-top: 0px;
       
    }

    .foot4{
        font-family: digi;
        margin-bottom: 0px;
        padding: 0;
        margin-top: 20px;
    }

    .foot7{
        display: inline-block;
        font-family: digi;
        margin-bottom: 0px;
    }

    .foot{
        font-size: smaller;
        color: #e0e0e0;
        font-family: digi;
        text-align: center;
    }





    body {
        	overflow-x: hidden;
        }

    .hamburger{
        
        width: 100%;
        height: 120px;
        position: fixed;
        top: 0px;
        -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(30px);
        
    }

    .navig{
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0px;

        
    }

    .home{
        
        width: 225px;
        height: 55px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        border-radius: 30px;
        background-color: #dc3c3c;
        box-shadow: 0px 0px 10px 1px hwb(0 19% 81%);

    }

    .home1{
        width: 30px;
        margin: 10px;
        margin-left: 27px;
        
        
    }

   

   

    .search{
        display: none;
    }

    .prof5{
        display: none;
    }


    .container1{
        width: 100%;

    }

    .digi{
        width: 170px;
        position: fixed;
        top: -100px;
        right: 20px;
        z-index: 2;
    }

    .digilogo{
        display: none;
    }

    .search1{
        position: fixed;
        border: none;
        top: 80px;
        left: 2px;
        border-radius: 25px;
        background-color: #e0e0e0;
        width: 99%;
        height: 30px;
        z-index: 2; 
        font-family: digi;
    }

    ::placeholder{
        color: black;
        font-size: large;
        text-align: center;
    }

    .cart{
        width: 40px;
        position: fixed;
        top: 22px;
        left: 15px;
        z-index: 2;
    }

    .prof1{
        position: fixed;
        width: 50px;
        top:18px;
        left: 60px;
        z-index: 2;
    }

    .prof2{
        display: none;
    }

   .text1{
    display: none;
   }

   .text5{
    display: none;
   }

   .banner1{
    width: 100%;
    margin-top: 120px;
   }

   .banner{
    
    width: 100%;
   }

   .container2{


    display: flex;
    justify-content: center;
    width: 100%;
   }

   .pics{
    width: 30px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
   }


   .texts{
       font-size: 6px;
       margin: 10px 9px 10px 9px;
       
   }


   .container3{
    width: 100%;
    height: 260px;
    text-align: center;
   }

   .vitrin{
    display: inline-block;
    height: 100px;
    margin-top: 18px;
    margin-left: 2px;
    text-align: center;
    border-radius: 10px;
   }

   .c3{
    width: 120px;
    text-align: center;
    margin-left: 5px;
   
   }

   .c4{
    width: 60px;
    border-radius: 20px;
   }



   .txt1{
    width: 50px;
    font-size: xx-small;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    margin: 3px;
    margin-right: 3px;
    display: inline-block;
    text-align: center;
    
   }


   .percent1{
    display: none;
   }

   .percent2{
    display: none;
   }

   .percent9{
    width: 40px;
    background-color: #252525;
    border-radius: 4px;
    margin-top: 4px;
    margin-left: 40px;
    margin-bottom: 0px;
    

   }

   .percent3{
    font-size: 8px;
    display: flex;
    justify-content: center;
    color: rgb(216, 216, 216);
    text-decoration: line-through;
    width: 40px;
    margin-bottom: 0px;
    margin-right: 5px;
    
   }

   

   .a1{
    text-decoration: none;
   }
   

   .container4{
    width: 100%;
    text-align: center;
   }

   .blur{
    background-color: whitesmoke;
   }


   .banners{
    width: 170px;
    border-radius: 10px;
    margin: 8px;
   }
   .bann{
    display: inline-block;
   }  
   .box2{
    display: none;
   }

   .categories{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
   }


   .cattext{
    font-size: 20px;
    text-align: center;
    font-family: digi;
   }

   .catpic{
    width: 70px;
    
   }

   .cat1{
     display: inline-block;
   }

   .mob{
    font-size: 16px;
    font-family: digi;
   }


   .bigban{
    width: 350px;
    border-radius: 10px;
    margin: 10px;
   }

    .bigbannskol{
    text-align: center;
    }

   

}


.scroll{
    height: 60px;
}